body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background: #f5f5f5;
}

h1 {
    background: #0a5ea8;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

p {
    width: 70%;
}

.formulario {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: #1c8adb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #136dab;
}

/* Resultado */
.resultado {
    margin-top: 40px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.valor-imc {
    font-size: 60px;
    color: green;
    margin: 0;
}

.categoria {
    font-size: 20px;
    font-weight: bold;
}
